<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Student Registration Form</title>
</head>
<body>
<form th:action="@{/students/register}" th:object="${student}" method="post">
    <div class="form-label-group">
        <label for="firstname"></label>
        <input type="text" th:field="*{firstName}" id="firstname" class="form-control" placeholder="First Name">
    </div>
    <div class="col-sm-4">
        <span class="text-danger" th:errors="*{firstName}"> </span>
    </div>
    <div class="form-label-group">
        <label for="lastname"></label>
        <input type="text" th:field="*{lastName}" id="lastname" class="form-control"
               placeholder="Last Name" autofocus>
    </div>
    <div class="col-sm-4">
        <span class="text-danger" th:errors="*{lastName}"> </span>
    </div>
    <br>
    <div>
        <label>
            <select th:field="*{country}">Country>
                <option
                        th:value=Bulgaria
                        th:text=Bulgaria>
                </option>
                <option
                        th:value=Malta
                        th:text=Malta>
                </option>
            </select>
        </label>
    </div>
    <br/>
    <br>
    Programming language:
    <br>
    <ol>
        <li th:each="language : ${allLanguages}">
            <input type="radio" th:field="*{language}" th:text="${language}" th:value="${language}"/>
        </li>
    </ol>
    <br>
    <label>Operating System:
        Linux<input type="checkbox" th:field="*{operatingSystem}" th:value=Linux>
        Windows<input type="checkbox" th:field="*{operatingSystem}" th:value=Windows>
        Mac Os<input type="checkbox" th:field="*{operatingSystem}" th:value=Mac_OS>
    </label>

    <button class=" btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Sign-up">Submit
    </button>
</form>
</body>