<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet"
		  th:href="@{/css/demo.css}" />
	
</head>

<body>

	<p th:text="'Time on the server is ' + ${date}" class="funny" />

</body>

</html>






