<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Watchlist App</title>
</head>

<body>
<div class="container">
	<nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
		<a class = "navbar-brand" href = "homepage-static.html">Watchlist App</a>
		<button class = "navbar-toggler" type = "button" data-toggle = "collapse"
				data-target = "#navbarSupportedContent"
				aria-controls = "navbarSupportedContent" aria-expanded = "false"
				aria-label = "Toggle navigation">
			<span class = "navbar-toggler-icon"></span>
		</button>

		<div class = "collapse navbar-collapse" id = "navbarSupportedContent">
			<ul class = "navbar-nav mr-auto">
				<li class = "nav-item">
					<a class = "nav-link" href = "/">Home</a>
				</li>
				<li class = "nav-item active">
					<a class = "nav-link" href = "/watchlist">Watchlist</a>
				</li>
				<li class = "nav-item ">
					<a class = "nav-link" href = "WatchlistItemForm-static.html">Submit an item</a>
				</li>
			</ul>
		</div>
	</nav>
	<h2  class = "mt-4">Watchlist</h2>

	<table class="table">
		<thead class = "thead-light">
		<tr>
			<th class="text-left">Title</th>
			<th class="text-left">Rating</th>
			<th class="text-left">Priority</th>
			<th class="text-left">Comment</th>
			<th class="text-left"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>Avatar</td>
			<td>7.8</td>
			<td>LOW</td>
			<td>Peter recommended</td>
			<td><a href="#" class="btn btn-info" role="button">Update</a></td>
		</tr>
		<tr>
			<td>Inception</td>
			<td>8.7</td>
			<td>MEDIUM</td>
			<td>YouTube trailer was just awesome!</td>
			<td><a href="#" class="btn btn-info" role="button">Update</a></td>
		</tr>
		<tr>
			<td>The Emoji Movie</td>
			<td>3.2</td>
			<td>HIGH</td>
			<td>The boss recommended, have to see it!</td>
			<td><a href="#" class="btn btn-info" role="button">Update</a></td>
		</tr>
		</tbody>
	</table>
	<hr/>
	<div >
		<div>Number of movies to watch:
			<span th:text="${name}"></span>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>