<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Watchlist App</title>
</head>

<body>
<div class = "container">
    <nav class = "navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class = "navbar-brand" href = "homepage-static.html">Watchlist App</a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent" aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
            <ul class = "navbar-nav mr-auto">
                <li class = "nav-item">
                    <a class = "nav-link" href = "/">Home</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/watchlist">Watchlist</a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "/students">Form</a>
                </li>

            </ul>
        </div>
    </nav>
    <form action="#" method="post" th:action="@{/students}" th:object="${student}">
        <h2 class = "mt-4">Student Form</h2>
        <hr/>
        <!-- Form levels error messages here -->
        <div class = "form-group row ">
            <div class="col-sm-8">
                <span class="text-danger" th:errors="*{global}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label">First Name</label>
            <div class = "col-sm-4">
                <input th:field="*{firstName}" type = "text" class = "form-control" placeholder = "First Name">
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{firstName}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label mr-0">Last Name</label>
            <div class = "col-sm-4">
                <input th:field="*{lastName}" type = "text" class = "form-control" placeholder = "Last Name">
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{lastName}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label">Courses</label>
            <div class = "col-sm-4">
                <input th:field="*{courses}" class = "form-control" placeholder = Number>
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{courses}"> </span>
            </div>
        </div>
        <div class = "form-group row ">
            <label class = "col-sm-2 col-form-label mr-0">Postal Code</label>
            <div class = "col-sm-4">
                <input th:field="*{postalCode}" type = "text" class = "form-control" placeholder = "Postal Code">
            </div>
            <div class="col-sm-4">
                <span class="text-danger" th:errors="*{postalCode}"> </span>
            </div>
        </div>
        <div class = "form-group row">
            <div class = "col-sm-10">
                <button type = "submit" class = "btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
<!--    <td><a href="#" class="btn btn-info" role="button" th:href="@{/students(id=${student.id})}">Update</a></td>-->

</div>
<script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" > </script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" > </script>
</body>
</html>
