<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Watchlist App</title>
</head>
<body>
<div class="form-group row" th:object="${student}">
    <label class="col-sm-2 col-form-label mr-0">Student Confirmation Page:</label>
    <br>
    <div class="col-sm-4">
        First Name:<span th:text="*{firstName}" class="form-control"></span>
        <br>
        Last Name:<span th:text="*{lastName}" class="form-control"></span>
        <br>
        Number of courses:<span th:text="*{courses}" class="form-control" placeholder = Number of courses></span>
        <br>
        Postal Code:<span th:text="*{postalCode}" class="form-control"></span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>